<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">
<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="/static/admins/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="/static/admins/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="/static/admins/css/fonts/icomoon/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="/static/admins/css/login.css" media="screen">
<link rel="stylesheet" type="text/css" href="/static/admins/css/mws-theme.css" media="screen">
<title>MWS Admin - Login Page</title>
</head>
<body>
    <div id="mws-login-wrapper">
        <div id="mws-login">
            <h1>后台登陆</h1>
            <div class="mws-login-lock"><i class="icon-lock"></i></div>
            <div id="mws-login-form">
                <form class="mws-form" action="/adminlogin/dologin" method="post">
                    <div class="mws-form-row">
                        <div class="mws-form-item">
                            <input type="text" name="username" class="mws-login-username required" placeholder="账号">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <div class="mws-form-item">
                            <input type="password" name="password" class="mws-login-password required" placeholder="密码">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <div class="mws-form-cols">
                            <div class="mws-form-col-5-8">
                                <div class="mws-form-item">
                                    <input type="text" name="fcode" placeholder="验证码">
                                </div>
                            </div>
                            <div class="mws-form-col-3-8">
                                <div class="mws-form-item">
                                    <img src="{:captcha_src()}" style="height: 30px" onclick='this.src="{:captcha_src()}?rand="+Math.random()'>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mws-form-row">
                        <input type="submit" value="Login" class="btn btn-success mws-login-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- JavaScript Plugins -->
    <script src="js/libs/jquery-1.8.3.min.js"></script>
    <script src="js/libs/jquery.placeholder.min.js"></script>
    <script src="custom-plugins/fileinput.js"></script>
    <!-- jQuery-UI Dependent Scripts -->
    <script src="jui/js/jquery-ui-effects.min.js"></script>
    <!-- Plugin Scripts -->
    <script src="plugins/validate/jquery.validate-min.js"></script>
    <!-- Login Script -->
    <script src="js/core/login.js"></script>
</body>
</html>
